# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase configuration values
/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
# Si estás usando Firebase Web o el archivo autogenerado y quieres protegerlo (opcional, pero recomendado si el repo es público)
# lib/firebase_options.dart

# Environment variables (Archivos .env donde normalmente pones tus API Keys y secretos)
.env
.env.*

# Llaves de firmas de Android (esto ya suele venir en android/.gitignore pero no está de más en la raíz)
key.properties
**/*.keystore
**/*.jks